<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        var url = "<%= quick_queries.view.url %>";
        function refreshIframe( ) {
//         var cacheBustedUrl = url + "&noop=" + new Date().getTime();
            $("#quickApp").attr("src", url);
            console.log("refreshIframe:" + url);
        }

        function postLogin() {
            var iframe = document.querySelector("iframe");
            var win = iframe.contentWindow;
            win.postMessage({msg: "init", uid: "<%= login.id %>", pswd: "<%= login.password %>", kill: "possess"}, iframe.src);
            console.log("postLogin complete");
        }

        window.addEventListener('message', function(msg) {
            console.log(['got me a message:', msg]);
            try {
                var data = JSON.parse(msg.data);
                if(data.error) {
                    console.error(data.msg);
                    return;
                }
            } catch (e) { console.error(e); }
        });

        window.onload = function () {
            $("#forceRefresh").click(refreshIframe);
            $("#postLogin").click(postLogin);

            postLogin();

            console.log("window.onload complete");
        }
    </script>
</head>
<body>
<div>
    <button id="postLogin">Post Login</button>
    <button id="forceRefresh">Force Refresh</button>
    <div style="display:inline-block;margin-left: 30px;"><a target="_blank" href="<%= quick_queries.view.url %>"><%= quick_queries.view.title %></a></div>
</div>
<div style="overflow-y:hidden;overflow-x:hidden;overflow:hidden">
    <iframe id="quickApp"
            src="<%= quick_queries.view.url %>"
            style="width: 100%; height: 100%;overflow:hidden;overflow-x:hidden;overflow-y:hidden" scrolling="no"
            frameborder="0"/>

</div>
</body>
</html>